<!DOCTYPE html>
<html>
  <head>
    <title>Inventory App | Add Categories</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <div class="ctitle">Add Category</div>
      <form
        method="POST"
        action="<%=typeof givenMethod == 'undefined' ? '/category/add-category' : '/category/add-category/' + category_id + '/' + category_name + '?_method=PUT' %>"
        class="category-form"
      >
        <div>
          <label for="name">Name</label>
          <input type="text" name="name" id="name" value="<%= name %>" />
        </div>
        <div>
          <label for="desc">Description</label>
          <textarea id="desc" name="desc"> <%= desc %></textarea>
        </div>

        <button type="submit">Add</button>
        <% errors.forEach(err => { %>
        <div class="errors">*<%= err.msg %></div>
        <% }) %>
      </form>
    </main>
  </body>
</html>
