<!DOCTYPE html>
<html>
  <head>
    <title>Inventory App | Categories</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <div class="ctitle">Categories</div>

      <% allCategory.forEach((i) => { %>
      <div class="categories">
        <div class="operations">
          <div>- <%= i.name %></div>
          <form action="/category/<%= i._id %>" method="GET">
            <button>View</button>
          </form>

          <form action="category/add-category/<%= i._id %>" method="GET">
            <button>Update</button>
          </form>

          <!-- method override  -->
          <form action="/category/<%= i._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
        </div>
        <div><%= i.desc%></div>
      </div>
      <hr />
      <% }) %>
    </main>
  </body>
</html>
