<!DOCTYPE html>
<html>
  <head>
    <title>Inventory App | Item</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <div class="ctitle">Items</div>

      <% allItems.forEach((i) => { %>
      <div class="categories">
        <div class="operations">
          <div>- <%= i.name %></div>

          <form action="/item/add-item/<%= i._id %>" method="GET">
            <button>Update</button>
          </form>

          <!-- method override  -->
          <form action="/item/<%= i._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
        </div>
        <div>
          <div><%= i.desc %></div>
          <div class="item-price">$ <%= i.price %></div>
          <div><span class="cat-span">Category: </span><%= i.category %></div>
        </div>
      </div>
      <hr />
      <% }) %>
    </main>
  </body>
</html>
